#main-div {
    text-align: center;
    margin-top: 100px;
    color: limegreen;
    font-size: 40px;
}

body {
    background-color: black;
}

.minute{
    float: left;
    width: 10px;
    margin: 1px;
    height: 10px;
}

.empty{
    background-color: #1d2865;
}

.done{
    background-color: #229222;
}

#timeline{
    margin: 10px;
    padding-top:60px;
}

#footer{
    color: red;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 15px;
    font-family: monospace;
}
#email{
    color: darkgreen;
}

.heart{
    color: orangered;
}

#buttons{
    margin-bottom: 15px;
}